* {
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
    margin: 0;
    padding: 0;
}

body {
    color: #263138;
}

.cabecalho {
    background-color: #ff9a6c;
    display: flex;
    justify-content: space-between;
    align-items: center; /*alinha na vertical*/
    padding: 24px 80px;
}

.cabecalho .home a {
    color: #fff;
    font-weight: 600;
    padding: 30px;
    text-decoration: none;
}

#inicio {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 24px 80px 128px 80px;
    position: relative;
}

h1, h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 32px;
}

#inicio .texto__inicio p {
    line-height: 150%;
    margin-bottom: 32px;
}

#inicio .texto__inicio .botao {
    background-color: #ff725e;
    color: #fff;
    text-decoration: none;
    padding: 16px 32px;
    border-radius: 8px;
}

#inicio .texto__inicio .botao__transparente {
    background-color: transparent;
    color: #ff725e;
    padding: 16px 32px;
    text-underline-offset: 4px;
}

.absolut {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: -10;
}

#clinica, #duvidas {
    display: flex;
    align-items: center;
    gap: 64px;
    padding: 64px 80px;
}

#clinica .texto__clinica li {
    margin-bottom: 16px;
    margin-left: 32px;
}

#clinica .texto__clinica p {
    line-height: 150%;
    margin-bottom: 32px;
}

#farmacia {
    text-align: center;
    padding: 64px 80px;
}

#farmacia .texto__farmacia p {
    line-height: 150%;
    max-width: 950px;
    margin: 0 auto;
}

#farmacia img {
    margin: 64px auto;
}

.duvida {
    position: relative;
}

.duvida h3 {
    border: 2px solid #ff725e;
    border-radius: 8px;
    cursor: pointer;
    padding: 24px;
}

.duvida img {
    position: absolute;
    top: 32px;
    right: 24px;
}

.duvida p {
    border-right: 1px solid #ff725e;
    border-bottom: 1px solid #ff725e;
    border-left: 1px solid #ff725e;
    border-radius: 0 0 8px 8px;
    margin-top: -8px;
    padding:  0 24px;
    margin-bottom: 30px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: .2s;
}

.duvida.ativo p {
    padding: 24px;
    height: fit-content;
    opacity: 1;
}

footer {
    background-color: rgba(255, 152, 108, 0.25);
    display: flex;
    gap: 80px;
    padding: 64px 100px;
}


footer .rapido {
    margin-left: 100px;
}

footer .encontre {
    margin-left: 150px;
}

footer img, footer .titulo {
    display: block;
    font-weight: 600;
    margin-bottom: 24px;
}

footer nav a {
    color: #263138;
    display: block;
    margin-bottom: 16px;
    text-decoration: none;
    max-width: 350px;
}

footer p {
    margin-bottom: 16px;
}

footer p a {
    color: #263138;
    text-decoration: none;
}

#copyright {
    background-color: #263138;
    color: #fff;
    padding: 24px;
    text-align: center;
}

#copyright a {
    color: #ff9a6c;
}